<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427253400322-h35roae8jmfatb3lg0719frdmlbce1dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427253400322-h35roae8jmfatb3lg0719frdmlbce1dj</string>
	<key>API_KEY</key>
	<string>AIzaSyB9v6lAMhbAXhT9tHrxYZdUNlxOFCa6NR8</string>
	<key>GCM_SENDER_ID</key>
	<string>427253400322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dungkv.ConfigAppDev</string>
	<key>PROJECT_ID</key>
	<string>firebase-dungkv</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-dungkv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427253400322:ios:9dd074f7e7f26d0b92781b</string>
	<key>DATABASE_URL</key>
	<string>https://dungkv.firebaseio.com</string>
</dict>
</plist>